<h1>SAGEMCOM</h1>
<mat-divider></mat-divider>
<img class="image" [src]="loginBg">
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="left">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Connexion</mat-card-title>
    </mat-card-header>
    <form class="formulaire" [formGroup]="myForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput type="email" placeholder="E-mail" formControlName="email" name="email">
          <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>
        <span *ngIf="isValid('email')">Ce champs doit etre remplis d'un mail</span>
        <mat-form-field class="example-full-width">
          <input matInput type="password" formControlName="pwd" placeholder="Mot de passe"
            [type]="hide ? 'password': 'text'">
          <mat-icon matPrefix>lock</mat-icon>
          <i class="material-icons" matSuffix (click)="hide = !hide">{{hide ? 'visibility': 'visibility_off'}}</i>
        </mat-form-field>
        <span *ngIf="isValid('pwd')">Ce champs est obligatoire</span>
        <a routerLink="/forgot">mot de passe oublié?</a>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="login()">Connexion</button>
      <div style="text-align: center;">
        {{successMessage}}
      </div>
    </form>
  </mat-card>
</div>