<p>Liste des produits</p>
<input class="searchBox" type="search" placeholder="Search" />
    

<table>
   <tr>
       <td class="row">ID</td>
       <td class="row">Nom Produit</td>
       <td></td>
   </tr>
   <tr>
       <td>1</td>
       <td>Produit1</td>
       <td> <button mat-raised-button color="accent">Fiche d'intervention</button></td>
   </tr>
   <tr>
    <td>2</td>
    <td>Pro2</td>
    <td> <button mat-raised-button color="accent">Fiche d'intervention</button></td>
</tr>
<tr>
    <td>3</td>
    <td>Prod3</td>
    <td> <button mat-raised-button color="accent">Fiche d'intervention</button></td>
</tr>
</table>
