<h1 mat-dialog-title>ajouter une nouvelle categorie</h1>
<div mat-dialog-content>
  <form class="formulaire" [formGroup]="myForm">
    <mat-form-field appearance="legacy" class="example-full-width">
      <mat-label>nom</mat-label>
      <input matInput placeholder="nom du categorie" formControlName="categoryName" type="text">
    </mat-form-field>
    <span *ngIf="isValid('categoryName')">Ce champs est obligatoire</span>
    
      <div style="text-align: center;">
        {{successMessage}}
      </div>

    <button mat-stroked-button color="accent" class="btn-block" (click)="save(myForm.value)">Enregistrer</button>
  </form>
</div>
